* {
	margin-left: 0px; 
	margin-right: 0px;
}

input {
	outline: none;
}

.content {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 100px;
}

.poster img {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px
}

.text {
    font: normal 110% 'centure gothic', arial;
    border: solid 1px #f2f2f2;
}

.personalArea a {
	text-decoration: none;
}

.header h1, .header h3 {
	margin: 0px;
	margin-left: 15%;
    margin-right: 15%;
	padding: 0px;
}

.header {
	position: fixed;
    width: 100%;
    left: 0; 
    top: 0;
    background-color: black;
	color: white;
	padding-bottom: 20px;
	padding-top: 10px;
    margin-top: 0px;
}

.footer {
    background-color: black;
	color: white;
    position: fixed;
    width: 100%;
    left: 0; 
    bottom: 0;
}

.footer p {
    margin: 0px;
	margin-left: 15%;
    margin-right: 15%;
	padding: 2px;
}

.Reg {
	float: right;
	margin-left: 70%;
	margin-right: 20px;
	padding-top: 30px;
}

.login {
	float: right;
	margin-right: 10px;
    margin-bottom: 100%;
	padding: 15px;
	padding-top: 15px;
	background-color: #a7b9c7;
	border-radius: 10px;
}

.login h4 {
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;
	font: normal 130% 'centure gothic', arial;
}

.login_email_pass p {
	margin: 0px;
	padding-bottom: 10px;
}

.login_email_pass a {
	text-decoration: none;
}

.button_Entry {
	cursor: pointer;
	width: 50%;
	text-align: center;
}

.create {
	padding-top: 65px;
	padding-bottom: 65px;
	background: #a7b9c7;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 100px;
	margin-bottom: 50px;
	border-radius: 25px;
}

.create h2 {
	font: normal 150% 'centure gothic', arial;
	text-align: center;
	margin: 0px;
	padding-bottom: 10px;
}

.createEmail p {
	margin: 0px;
	padding-bottom: 10px;
	text-align: center;
}

.createEmail button {
	margin: 0px;
	margin-bottom: 10px;
}

.createEmail a {
	text-decoration: none;
	color: black;
}