* {
	margin-left: 0px; 
	margin-right: 0px;
}

input {
	outline: none;
}

.content {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.poster img {
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 189px;
}

.text {
    font: normal 110% 'centure gothic', arial;
    border: solid 1px #f2f2f2;
}

.personalArea a {
	text-decoration: none;
}

.header button {
    width: auto;
    float: right;
    margin-left: 4px;
}

.header p3 {
    width: auto;
    float: right;
}

.header p2 {
    float: right;
}

.header p2 a {
    color: white;
}

.header p1 {
    float: left;
}

.header h1, .header h3 {
    width: 300px;
	margin: 0px;
	padding: 0px;
}

.header {
    float: left;
	position: fixed;
    width: 100%;
    left: 0; top: 0;
    background-color: black;
	color: white;
	padding-bottom: 20px;
	padding-top: 10px;
}

.header_log {
    margin-left: 15%;
    margin-right: 15%;
}

.footer {
    background-color: black;
	color: white;
    position: fixed;
    width: 100%;
    left: 0; 
    bottom: 0;
}

.footer p {
    margin: 0px;
	margin-left: 15%;
    margin-right: 15%;
	padding: 2px;
}

.table table tr td a {
    text-decoration: none;
    text-align: center;
}

.Reg {
	float: right;
	margin-left: 70%;
	margin-right: 20px;
	padding-top: 30px;
}

.button_Entry {
	cursor: pointer;
	width: 50%;
	text-align: center;
}

.create {
	padding-top: 65px;
	padding-bottom: 65px;
	background: #a7b9c7;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 100px;
	margin-bottom: 50px;
	border-radius: 25px;
}

.create h2 {
	font: normal 150% 'centure gothic', arial;
	text-align: center;
	margin: 0px;
	padding-bottom: 10px;
}

.createEmail p {
	margin: 0px;
	padding-bottom: 10px;
	text-align: center;
}

.createEmail button {
	margin: 0px;
	margin-bottom: 10px;
}

.createEmail a {
	text-decoration: none;
	color: black;
}

.table_films {
    margin-top: 300px;
}

.result_rooms_1 button, .result_rooms_2  button, .result_rooms_3 button {
    width: 100%;
    height: 100%;
}

.head {
    font: normal 150% 'centure gothic', arial;
}