<!DOCTYPE html>
<html ng-app='appCreate'>

<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
    <script src="createPage.js"></script>

    <meta charset="utf-8">
    <title>Бронирование мест в кинотеатре</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>

    <header>
        <div class="header">
            <h1>BronKino</h1>
            <h3>Бронирование мест в кинотеатре</h3>
        </div>
    </header>

    <div class="create" ng-controller="Create">
        <h2>Cоздание учетной записи</h2>
        <div class="createEmail">
            <p><input ng-model="email" type="text" placeholder="Логин" size="30"/><br/></p>
            <p><input ng-model="pass" type="password" placeholder="Пароль" size="30"/><br/></p>
            <p><input ng-model="passRetry" type="password" placeholder="Повторите пароль" size="30"><br/></p>
            <p><input ng-model="name" type="text" placeholder="Имя" size="30"/><br/></p>
            <p><input ng-model="surname" type="text" placeholder="Фамилия" size="30"/><br/></p>
            <p><input ng-model="DOB" type="date"/><br/></p>
            <center class="button_Create">
                <button ng-click="btnCreate()" ng-value="btn" ng-model="check">Создать аккаунт</button><br>
                <button ng-show="check"><a href="home.html">Вернуться на главную страницу</a></button>
            </center>
        </div>
    </div>

</body>

</html>