<!DOCTYPE html >
<html ng-app='appHome'>

<head>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
    <script src="homePage.js"></script>

    <meta charset="utf-8">
    <title>Бронирование мест в кинотеатре</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
    
    <div class="header">
        <div class="header_log" ng-controller="Entry">
            <p1>
                <h1>BronKino</h1>
                <h3>Бронирование мест в кинотеатре</h3>
            </p1>
            <p2 ng-hide="check">
                <a href="#" ng-click="btnSign()" ng-model="check" class="button_Sign">Вход</a> | <a href="create.html">Регистрация</a>
            </p2>
            <p3 ng-show="check">
                <input ng-model="email" type="text" placeholder="Логин" size="15">
                <input ng-model="pass" type="password" placeholder="Пароль" size="15">
                <button ng-click="btnEntry()" ng-value="btn" class="button_Entry">Войти</button>
            </p3>
        </div>
    </div>
    
    <div class="content">
        
        <div class="poster">
            <a href="FilmsComments/logan.html"><img src="img/Logan.jpg"></a>
            <a href="FilmsComments/split.html"><img src="img/Split.jpg"></a>
            <a href="FilmsComments/rogueOne.html"><img src="img/RogueOne.jpg"></a>
            <a href="FilmsComments/kong.html"><img src="img/Kong.jpg"></a>    
        </div>

        <div class="table_films">
            <table width="100%" border="10px" cellspacing="10">
                <tr class="head">
                    <th valign="middle">Зал для просмотра</th>
                    <th valign="middle">Фильм</th>
                </tr>
                <tr class="result1">
                    <td><a href="rooms/rooms1.html">Зал №1</a></td>
                    <td>Конг</td>
                </tr>
                <tr class="result2">
                    <td><a href="rooms/rooms2.html">Зал №2</a></td>
                    <td>Логан</td>
                </tr>
            </table>
        </div>

    </div>
   
    <div class="footer" align="middle">
        <p>vk.com/lenny_st<br>vk.com/polyansky_dmitry</p>     
    </div>

    <div ng-view></div>

</body>

</html>